.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80vw;
  }
  
  .login-container {
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-bottom: 100px;
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-header h2 {
    color: #333;
    font-size: 24px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-input {
    margin-bottom: 20px;
  }
  
  .login-input input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-input input:focus {
    border-color: #3498db;
    outline: none;
  }
  
  .login-submit {
    background-color: #ff511a;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login-submit:hover {
    background-color: #ff0000;
  }
  
  .login-submit:focus {
    outline: none;
  }
  
  /* Media queries for responsiveness */
@media screen and (max-width: 650px) {
    .login-container {
      padding: 30px;
      max-width: 90%;
    }
    
    .login-header h2 {
      font-size: 22px;
    }
  
    .login-input input {
      padding: 10px;
      font-size: 15px;
    }
  
    .login-submit {
      padding: 10px;
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .login-container {
      padding: 20px;
      margin-bottom: 50px;
    }
  
    .login-header h2 {
      font-size: 20px;
    }
  
    .login-input input {
      padding: 8px;
      font-size: 14px;
    }
  
    .login-submit {
      padding: 10px;
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 360px) {
    .login-container {
      padding: 15px;
      margin-bottom: 40px;
    }
  
    .login-header h2 {
      font-size: 18px;
    }
  
    .login-input input {
      padding: 7px;
      font-size: 13px;
    }
  
    .login-submit {
      padding: 8px;
      font-size: 14px;
    }
  }