.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed; /* Change from sticky to fixed */
    top: 0; /* Ensure it sticks to the top */
    left: 0;
    right: 0;
    z-index: 1000; /* Ensures it's above other elements */
    background-color: white;
    padding-left: 4vw;
    padding-right: 4vw;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.logo{
    width: 150px;
    cursor: pointer;
    transition: .5s;
}
.logo:hover{
    transform: scale(1.06);
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.cart-icon, .search-icon, .sigin{
    display: flex;
    gap: 10px; 
    cursor: pointer;
}
.cart-icon p, .search-icon p, .sigin p, .profile-p{
    margin-top: 4px;
    font-size: 18px;
}
.search-icon:hover, .cart-icon:hover, .sigin:hover, .profile-img:hover, .profile-p:hover{
    filter: sepia(1) saturate(950%) hue-rotate(-20deg);
    color: #ff511a;
    font-weight: 600;
}
.cart-icon img, .search-icon img, .sigin img, .profile-img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.navbar-menu .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

li{
    cursor: pointer;
}

.navbar-basket-icon{
    position: relative;
}

.dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #ff511a;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar-profile{
    position: relative;
    display: flex;
    gap: 10px; 
    cursor: pointer;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff2ef;
    padding: 12px 20px;
    margin-top: 26px;
    border-radius: 4px;
    border: 1px solid #ff511a;
    outline: 2px solid white;
    list-style: none;
}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.nav-profile-dropdown img{
    width: 20px;
}
.nav-profile-dropdown li:hover{
    color: #ff511a;
}

@media (max-width: 1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right p{
        font-size: 16px;
    }
}

@media (max-width: 900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 16px;
    }
    .navbar-right img{
        width: 16px;
    }
    .navbar-right p{
        font-size: 15px;
    }
}
@media (max-width: 750px){
    .navbar-menu{
        display: none;
    }
    .navbar-right p{
        display: none;
    }
}
