.app-download{
    margin: auto auto;
    margin-top: 80px;
    text-align: center;
    font-size: max(2.8vw, 20px);
    font-weight: 500px;
}

.app-download-platforms{
    display: flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 40px;
}

.app-download-platforms img{
    width: max(30vw, 120px);
    max-width: 180px;
    transition: 0.5s;
    cursor: pointer;
}
.app-download-platforms img:hover{
    transform: scale(1.05);
}